@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@ViewData["SayHi"]</h2>
    <h3>@ViewData["AppName"]</h3>
    <h3>@ViewData["Others"]</h3>
</div>
