@{
    ViewData["Title"] = "Insert";
}

<div>
    <h1>Insert</h1>
    <div>
        <div>
            <label>昵称</label>
            <input type="text" />
        </div>
        <div>
            <label>邮箱</label>
            <input type="email" />
        </div>
        <div>
            <label>备注</label>
            <textarea></textarea>
        </div>
        <div>
            <button>提交</button>
        </div>
    </div>
</div>
