
@{
    ViewData["Title"] = "Markdown";
}

<div class="row">
    <div class="col-md-6">
        <div id="edit" class="form-group">
            <textarea class="form-control" id="md" rows="10"></textarea>
        </div>
    </div>

    <div class="col-md-6">
        <div id="content">

        </div>
    </div>
</div>

@section StyleSheet{
    <link rel="stylesheet" href="~/thirdparty/highlight/9.16.2/styles/atom-one-dark.css" />
}

@section Scripts{
    <script src="~/thirdparty/highlight/9.16.2/highlight.pack.js" asp-append-version="true"></script>
    <script src="~/lib/marked/lib/marked.js" asp-append-version="true"></script>
    <script>
        $(function () {
            console.log($('.container-fluid').height());
            $('#md').height($(document).height() - $('header').height() - $('footer').height());
            //$('#md').height($('#edit').height() - $())
        });
        $('#md').bind('input propertychange', function () {
            let md = this.value;
            marked.setOptions({
                renderer: new marked.Renderer(),
                highlight: function (code) {
                    return hljs.highlightAuto(code).value;
                },
                langPrefix: 'hljs ',
                pedantic: false,
                gfm: true,
                breaks: false,
                sanitize: false,
                smartLists: true,
                smartypants: false,
                xhtml: false
            });
            document.getElementById('content').innerHTML = marked(md);
        });
    </script>
}