@using CodeSnippets.IdentityCenter.Models
@model ConsentViewModel

<div class="row page-header">
    <div class="col-sm-10">
        <div class="media">
            @if (Model.ClientLogoUrl != null)
            {
                <img src="@Model.ClientLogoUrl" class="mr-3" alt="...">
            }
            <div class="media-body">
                <h5 class="mt-0">@Model.ClientName</h5>
                <small>申请使用</small>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <partial name="_ValidationSummary" />
        <form asp-action="Index">
            <input type="hidden" asp-for="ReturnUrl" />
            @if (Model.IdentityScopes.Any())
            {
                <div>
                    <div>
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    您的个人信息
                    <ul class="list-group">
                        @foreach (var scope in Model.IdentityScopes)
                        {
                            <partial name="_ScopeListItem" model="@scope" />
                        }
                    </ul>
                </div>
            }

            @if (Model.ResourceScopes.Any())
            {
                <div>
                    <div>
                        <span>应用访问</span>
                    </div>
                    <ul class="list-group">
                        @foreach (var scope in Model.ResourceScopes)
                        {
                            <partial name="_ScopeListItem" model="@scope" />
                        }
                    </ul>
                </div>
            }

            @if (Model.AllowRememberConsent)
            {
                <div class="">
                    <label>
                        <input class="" asp-for="RememberConsent" />
                        <strong>记住我的选择</strong>
                    </label>
                </div>
            }

            <div class="">
                <button name="button" value="yes" class="btn btn-primary" autofocus>同意</button>
                <button name="button" value="no" class="btn">拒绝</button>
            </div>
        </form>
    </div>
</div>